{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block title %} Create Comment {% endblock %}


{% block custom_files %}

{% endblock %}


{% block custom_css %}

{% endblock %}


{% block custom_js %}

{% endblock %}


{% block header %}

{% endblock %}


{% block content %}
    
<div class="main-sec">
        <nav>
                <ul class="nav">
                    <li>.blog_logo</li>
                    <li>Add Comment</li>
                    <li><div class="create"><a href="{% url 'post_view' %}">View Posts</a></div></li>
                </ul>
            </nav>

           <div class="row">
            <div class="col-md-4"></div>
                <div class="col-md-4">   
                    <form method="post"  onsubmit="return validateFormC()" name="myForm" action="">
                        {% csrf_token %}
                        <br>
                      
                        {{ form.content }}
                        
                        <br>

                        <button type="submit"> Submit</button>
                    </form>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
{% endblock %}

{% block footer_content %}

{% endblock %}